# Conda build artifacts
conda-bld/
conda-channel/
output/
standalone/
sysroot/

# Python cache
__pycache__/
*.pyc

# Logs
*.log
*.md
# Binary packages / tarballs
*.tar
*.tar.gz
*.whl
conda-bld/

# Large repodata cache files
analysis/cache/
